body {
    background-image: url("light_grey.png");
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin: auto;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 400px;
    margin-left: 21%;
    padding-left: 45px;
    padding-bottom: 20px;
    padding-top: 20px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding-top: 20px;
}

.top-nav {
    background-color: #ffffff;
    float: right;
    text-decoration: none;
    text-align: center;
    color: #777777;
    border-bottom-color: #cccccc;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    border-bottom-color: #ffffff;
    width: 100%;
    
}

.top-nav a {
    float: right;
    color: #777777;
    text-decoration: none;
}

.top-nav a.active {
    background-color: #4aaaa5;
    color: #ffffff;
}

.top-nav a:hover {
    background-color: #777777;
    color: #ffffff;
  }

.portfolio {
    background-color: #ffffff;
    border-color: #dddddd;
}

.body {
    border-color: #dddddd;
    background-color: #ffffff;
    max-width: 960px;
    margin: auto;
    position: relative;
}

footer {
    background-color: #666666;
    color: #ffffff;
    text-align: center; 
    padding-top: 50px;
    margin-top: 100px;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    background-color: #ffffff;
    border-color: #dddddd;
}